In [5]:
import sqlite3
import sqlalchemy
import pandas
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, desc
sqlite_file = 'data.sqlite'

In [13]:
import pandas as pd
import sqlite3
conn = sqlite3.connect("data.sqlite")
df = pd.read_sql_query("select * from deploy1 limit 5;", conn)
df

,,birthYear,nameFirst,nameLast,BLat,BLng,birthCountry,deathYear,birthCity,Flag
0,0,1981,David,Aardsma,39.7392358,-104.990251,United States,,Denver,https://upload.wikimedia.org/wikipedia/en/a/a4...
1,1,1934,Hank,Aaron,30.6953657,-88.0398912,United States,,Mobile,https://upload.wikimedia.org/wikipedia/en/a/a4...
2,2,1939,Tommie,Aaron,30.6953657,-88.0398912,United States,1984,Mobile,https://upload.wikimedia.org/wikipedia/en/a/a4...
3,3,1954,Don,Aase,33.7879139,-117.8531007,United States,,Orange,https://upload.wikimedia.org/wikipedia/en/a/a4...
4,4,1972,Andy,Abad,26.7056206,-80.0364297,United States,,Palm Beach,https://upload.wikimedia.org/wikipedia/en/a/a4...

In [11]:
mycur = conn.cursor() 
mycur.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")
available_table=(mycur.fetchall())

In [12]:
available_table

[('Deploy1',)]