In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("fulldata2.csv")
cities = pd.read_csv("GeoLiteCities.csv")
locations = pd.read_csv("GeoLitLocations.csv")
cities2 = pd.read_csv("worldcities.csv")

C:\Users\alana\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
cities2['Birthplace'] = cities2['country'] + " " + cities2['city']
cities2 = cities2.drop(columns = ['city_ascii', 'iso2', 'iso3',
       'admin_name', 'capital', 'population', 'id'])

In [4]:
data = data.drop(columns = ['birthMonth', 'birthDay',
       'birthState', 'deathMonth', 'deathDay',
       'deathState',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID', 'Position', 'HoF'])

In [5]:
namer={"USA": "United States","Cura√ßao" : "Curacao", "D.R.": "Dominican Republic", 'CAN': "Canada", "P.R.": "Puerto Rico", "V.I.": "U.S. Virgin Islands"}

In [6]:
data = data.replace({"birthCountry": namer})

In [7]:
cities2.columns

Index(['city', 'lat', 'lng', 'country', 'Birthplace'], dtype='object')

In [8]:
data = data.dropna(subset=['birthCountry'])
data = data.dropna(subset=['birthCity'])

In [9]:
cities = cities.drop(columns=['network', 'represented_country_geoname_id', 'is_anonymous_proxy',
       'is_satellite_provider', 'postal_code', 'accuracy_radius'])

In [10]:
locations = locations.drop(columns=['locale_code', 'continent_name', 'subdivision_1_iso_code',
       'subdivision_1_name', 'subdivision_2_iso_code', 'subdivision_2_name',
       'time_zone', 'is_in_european_union', 'metro_code'])

In [11]:
cities[cities.geoname_id == 3553478]

       geoname_id  registered_country_geoname_id  latitude  longitude
73484   3553478.0                      3562981.0   23.1319   -82.3642
73485   3553478.0                      3562981.0   23.1319   -82.3642
73486   3553478.0                      3562981.0   23.1319   -82.3642
73487   3553478.0                      3562981.0   23.1319   -82.3642

In [12]:
locator = locations.merge(cities, on = "geoname_id", how = "left")

In [13]:
locator = locator.drop_duplicates(subset=['geoname_id'], keep='first')

In [14]:
locator[locator.city_name == 'St Petersburg'].sort_values(by=['city_name'])

,geoname_id,continent_code,country_iso_code,country_name,city_name,registered_country_geoname_id,latitude,longitude
19969,498817,EU,RU,Russia,St Petersburg,2017370.0,59.7513,30.4766

In [15]:
data['Birthplace'] = data['birthCountry'] + " " + data['birthCity']

In [16]:
locator['Birthplace'] = locator['country_name'] + " " + locator['city_name']

In [17]:
final2 = data.merge(cities2, on='Birthplace', how='left')

In [18]:
final = data.merge(locator, on='Birthplace', how='left')

In [19]:
final.iloc[46767, final.columns.get_loc('latitude')] = 46.0994
final.iloc[46767, final.columns.get_loc('longitude')] = 37.02617

In [20]:
final2

,Unnamed: 0,playerID,birthYear,birthCountry,birthCity,deathYear,deathCountry,deathCity,nameFirst,nameLast,Birthplace,city,lat,lng,country
0,0,aardsda01,1981.0,United States,Denver,NaN,NaN,NaN,David,Aardsma,United States Denver,Denver,39.7621,-104.8759,United States
1,1,aaronha01,1934.0,United States,Mobile,NaN,NaN,NaN,Hank,Aaron,United States Mobile,Mobile,30.6783,-88.1162,United States
2,2,aaronto01,1939.0,United States,Mobile,1984.0,USA,Atlanta,Tommie,Aaron,United States Mobile,Mobile,30.6783,-88.1162,United States
3,3,aasedo01,1954.0,United States,Orange,NaN,NaN,NaN,Don,Aase,United States Orange,Orange,38.2486,-78.1127,United States
4,3,aasedo01,1954.0,United States,Orange,NaN,NaN,NaN,Don,Aase,United States Orange,Orange,30.1209,-93.7616,United States
5,3,aasedo01,1954.0,United States,Orange,NaN,NaN,NaN,Don,Aase,United States Orange,Orange,33.8038,-117.8219,United States
6,4,abadan01,1972.0,United States,Palm Beach,NaN,NaN,NaN,Andy,Abad,United States Palm Beach,Palm Beach,26.6852,-80.0403,United States
7,5,abadfe01,1985.0,Dominican Republic,La Romana,NaN,NaN,NaN,Fernando,Abad,Dominican Republic La Romana,La Romana,18.4170,-68.9666,Dominican Republic
8,6,abadijo01,1850.0,United States,Philadelphia,1905.0,USA,Pemberton,John,Abadie,United States Philadelphia,Philadelphia,40.0076,-75.1340,United States
9,6,abadijo01,1850.0,United States,Philadelphia,1905.0,USA,Pemberton,John,Abadie,United States Philadelphia,Philadelphia,32.7761,-89.1221,United States
10,7,abbated01,1877.0,United States,Latrobe,1957.0,USA,Fort Lauderdale,Ed,Abbaticchio,United States Latrobe,Latrobe,40.3125,-79.3825,United States
11,8,abbeybe01,1869.0,United States,Essex,1962.0,USA,Colchester,Bert,Abbey,United States Essex,NaN,NaN,NaN,NaN
12,9,abbeych01,1866.0,United States,Falls City,1926.0,USA,San Francisco,Charlie,Abbey,United States Falls City,NaN,NaN,NaN,NaN
13,10,abbotda01,1862.0,United States,Portage,1930.0,USA,Ottawa Lake,Dan,Abbott,United States Portage,Portage,43.5490,-89.4659,United States
14,10,abbotda01,1862.0,United States,Portage,1930.0,USA,Ottawa Lake,Dan,Abbott,United States Portage,Portage,40.3869,-78.6747,United States
15,10,abbotda01,1862.0,United States,Portage,1930.0,USA,Ottawa Lake,Dan,Abbott,United States Portage,Portage,41.5866,-87.1792,United States
16,10,abbotda01,1862.0,United States,Portage,1930.0,USA,Ottawa Lake,Dan,Abbott,United States Portage,Portage,42.2000,-85.5906,United States
17,11,abbotfr01,1874.0,United States,Versailles,1935.0,USA,Los Angeles,Fred,Abbott,United States Versailles,Versailles,38.0488,-84.7260,United States
18,12,abbotgl01,1951.0,United States,Little Rock,NaN,NaN,NaN,Glenn,Abbott,United States Little Rock,Little Rock,34.7255,-92.3581,United States
19,13,abbotje01,1972.0,United States,Atlanta,NaN,NaN,NaN,Jeff,Abbott,United States Atlanta,Atlanta,33.1136,-94.1672,United States
20,13,abbotje01,1972.0,United States,Atlanta,NaN,NaN,NaN,Jeff,Abbott,United States Atlanta,Atlanta,33.7626,-84.4228,United States
21,14,abbotji01,1967.0,United States,Flint,NaN,NaN,NaN,Jim,Abbott,United States Flint,Flint,43.0236,-83.6922,United States
22,15,abbotku01,1969.0,United States,Zanesville,NaN,NaN,NaN,Kurt,Abbott,United States Zanesville,Zanesville,39.9567,-82.0133,United States
23,16,abbotky01,1968.0,United States,Newburyport,NaN,NaN,NaN,Kyle,Abbott,United States Newburyport,Newburyport,42.8124,-70.8879,United States
24,17,abbotod01,1886.0,United States,New Eagle,1933.0,USA,Washington,Ody,Abbott,United States New Eagle,NaN,NaN,NaN,NaN
25,18,abbotpa01,1967.0,United States,Van Nuys,NaN,NaN,NaN,Paul,Abbott,United States Van Nuys,NaN,NaN,NaN,NaN
26,19,aberal01,1927.0,United States,Cleveland,1993.0,USA,Garfield Heights,Al,Aber,United States Cleveland,Cleveland,30.3368,-95.0924,United States
27,19,aberal01,1927.0,United States,Cleveland,1993.0,USA,Garfield Heights,Al,Aber,United States Cleveland,Cleveland,35.1817,-84.8707,United States
28,19,aberal01,1927.0,United States,Cleveland,1993.0,USA,Garfield Heights,Al,Aber,United States Cleveland,Cleveland,34.5971,-83.7622,United States
29,19,aberal01,1927.0,United States,Cleveland,1993.0,USA,Garfield Heights,Al,Aber,United States Cleveland,Cleveland,41.4767,-81.6805,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33867,19596,zinteal01,1968.0,United States,El Paso,NaN,NaN,NaN,Alan,Zinter,United States El Paso,El Paso,31.8479,-106.4309,United States
33868,19597,zipfebu01,1938.0,United States,Belleville,NaN,NaN,NaN,Bud,Zipfel,United States Belleville,Belleville,38.5165,-89.9899,United States
33869,19598,ziskri01,1949.0,United States,Brooklyn,NaN,NaN,NaN,Richie,Zisk,United States Brooklyn,Brooklyn,40.6501,-73.9496,United States
33870,19598,ziskri01,1949.0,United States,Brooklyn,NaN,NaN,NaN,Richie,Zisk,United States Brooklyn,Brooklyn,41.4349,-81.7498,United States
33871,19599,zitoba01,1978.0,United States,Las Vegas,NaN,NaN,NaN,Barry,Zito,United States Las Vegas,Las Vegas,35.6011,-105.2206,United States
33872,19599,zitoba01,1978.0,United States,Las Vegas,NaN,NaN,NaN,Barry,Zito,United States Las Vegas,Las Vegas,36.2291,-115.2607,United States
33873,19600,zitzmbi01,1895.0,United States,Long Island City,1985.0,USA,Passaic,Billy,Zitzmann,United States Long Island City,NaN,NaN,NaN,NaN
33874,19601,zmiched01,1884.0,United States,Cleveland,1950.0,USA,Cleveland,Ed,Zmich,United States Cleveland,Cleveland,30.3368,-95.0924,United States
33875,19601,zmiched01,1884.0,United States,Cleveland,1950.0,USA,Cleveland,Ed,Zmich,United States Cleveland,Cleveland,35.1817,-84.8707,United States
33876,19601,zmiched01,1884.0,United States,Cleveland,1950.0,USA,Cleveland,Ed,Zmich,United States Cleveland,Cleveland,34.5971,-83.7622,United States
33877,19601,zmiched01,1884.0,United States,Cleveland,1950.0,USA,Cleveland,Ed,Zmich,United States Cleveland,Cleveland,41.4767,-81.6805,United States
33878,19601,zmiched01,1884.0,United States,Cleveland,1950.0,USA,Cleveland,Ed,Zmich,United States Cleveland,Cleveland,33.7440,-90.7285,United States
33879,19602,zobribe01,1981.0,United States,Eureka,NaN,NaN,NaN,Ben,Zobrist,United States Eureka,Eureka,40.7941,-124.1568,United States
33880,19602,zobribe01,1981.0,United States,Eureka,NaN,NaN,NaN,Ben,Zobrist,United States Eureka,Eureka,40.7147,-89.2776,United States
33881,19602,zobribe01,1981.0,United States,Eureka,NaN,NaN,NaN,Ben,Zobrist,United States Eureka,Eureka,38.5013,-90.6491,United States
33882,19603,zoccope01,1977.0,United States,Bronx,NaN,NaN,NaN,Peter,Zoccolillo,United States Bronx,Bronx,40.8501,-73.8662,United States
33883,19604,zoldasa01,1918.0,United States,Brooklyn,1966.0,USA,New Hyde Park,Sam,Zoldak,United States Brooklyn,Brooklyn,40.6501,-73.9496,United States
33884,19604,zoldasa01,1918.0,United States,Brooklyn,1966.0,USA,New Hyde Park,Sam,Zoldak,United States Brooklyn,Brooklyn,41.4349,-81.7498,United States
33885,19605,zoskyed01,1968.0,United States,Whittier,NaN,NaN,NaN,Eddie,Zosky,United States Whittier,Whittier,33.9678,-118.0188,United States
33886,19606,zuberbi01,1913.0,United States,Middle Amana,1982.0,USA,Cedar Rapids,Bill,Zuber,United States Middle Amana,NaN,NaN,NaN,NaN
33887,19607,zuberjo01,1969.0,United States,Encino,NaN,NaN,NaN,Jon,Zuber,United States Encino,NaN,NaN,NaN,NaN
33888,19608,zuletju01,1975.0,Panama,Panama,NaN,NaN,NaN,Julio,Zuleta,Panama Panama,NaN,NaN,NaN,NaN
33889,19609,zumayjo01,1984.0,United States,Chula Vista,NaN,NaN,NaN,Joel,Zumaya,United States Chula Vista,Chula Vista,32.6281,-117.0145,United States
33890,19610,zuninmi01,1991.0,United States,Cape Coral,NaN,NaN,NaN,Mike,Zunino,United States Cape Coral,Cape Coral,26.6444,-81.9956,United States
33891,19611,zupcibo01,1966.0,United States,Pittsburgh,NaN,NaN,NaN,Bob,Zupcic,United States Pittsburgh,Pittsburgh,40.4396,-79.9763,United States
33892,19612,zupofr01,1939.0,United States,San Francisco,2005.0,USA,Burlingame,Frank,Zupo,United States San Francisco,San Francisco,37.7562,-122.4430,United States
33893,19613,zuvelpa01,1958.0,United States,San Mateo,NaN,NaN,NaN,Paul,Zuvella,United States San Mateo,San Mateo,37.5522,-122.3122,United States
33894,19614,zuverge01,1924.0,United States,Holland,2014.0,USA,Tempe,George,Zuverink,United States Holland,Holland,42.7677,-86.0984,United States
33895,19615,zwilldu01,1888.0,United States,St. Louis,1978.0,USA,La Crescenta,Dutch,Zwilling,United States St. Louis,NaN,NaN,NaN,NaN
33896,19616,zychto01,1990.0,United States,Monee,NaN,NaN,NaN,Tony,Zych,United States Monee,Monee,41.4172,-87.7504,United States

In [21]:
final = final.dropna(subset=['latitude'])

In [22]:
final= final.drop_duplicates(subset=['playerID'], keep='first')

In [23]:
final.to_csv("final.csv")

In [24]:
# Cuba, Russia, Czech Republic, Hong Kong, Denmark, Switzerland, Audtria, China, Belize, Indonesia, Finland, Lithuania, Slovakia, American Samoa, POrtugal, Honduras, Latvia