In [1]:
import pandas as pd

In [36]:
data = pd.read_csv("fulldata.csv")
cities = pd.read_csv("GeoLiteCities.csv")
locations = pd.read_csv("GeoLitLocations.csv")
cities2 = pd.read_csv("worldcities.csv")
flags = pd.read_csv("flags_df.csv")

C:\Users\alana\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
cities2['Birthplace'] = cities2['country'] + " " + cities2['city']
cities2 = cities2.drop(columns = ['city_ascii', 'iso2', 'iso3',
       'admin_name', 'capital', 'population', 'id'])

In [4]:
data = data.drop(columns = ['birthMonth', 'birthDay',
       'birthState', 'deathMonth', 'deathDay',
       'deathState',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID', 'Position', 'HoF'])

In [5]:
namer={"USA": "United States","Curaçao" : "Curacao", "D.R.": "Dominican Republic", 'CAN': "Canada", "P.R.": "Puerto Rico", "V.I.": "U.S. Virgin Islands"}

In [6]:
data = data.replace({"birthCountry": namer})

In [37]:
flags = flags.rename(index=str, columns={"country": "birthCountry"})

In [7]:
data = data.dropna(subset=['birthCountry'])
data = data.dropna(subset=['birthCity'])

In [8]:
cities = cities.drop(columns=['network', 'represented_country_geoname_id', 'is_anonymous_proxy',
       'is_satellite_provider', 'postal_code', 'accuracy_radius'])

In [9]:
locations = locations.drop(columns=['locale_code', 'continent_name', 'subdivision_1_iso_code',
       'subdivision_1_name', 'subdivision_2_iso_code', 'subdivision_2_name',
       'time_zone', 'is_in_european_union', 'metro_code'])

In [10]:
locator = locations.merge(cities, on = "geoname_id", how = "left")

In [11]:
locator = locator.drop_duplicates(subset=['geoname_id'], keep='first')

In [12]:
data['Birthplace'] = data['birthCountry'] + " " + data['birthCity']

In [13]:
locator['Birthplace'] = locator['country_name'] + " " + locator['city_name']

In [14]:
final2 = data.merge(cities2, on='Birthplace', how='left')

In [15]:
final = data.merge(locator, on='Birthplace', how='left')

In [16]:
final.iloc[46767, final.columns.get_loc('latitude')] = 46.0994
final.iloc[46767, final.columns.get_loc('longitude')] = 37.02617

In [17]:
final2

,playerID,birthYear,birthCountry,birthCity,deathYear,deathCountry,deathCity,nameFirst,nameLast,Birthplace,city,lat,lng,country
0,aardsda01,1981.0,United States,Denver,NaN,NaN,NaN,David,Aardsma,United States Denver,Denver,39.7621,-104.8759,United States
1,aaronha01,1934.0,United States,Mobile,NaN,NaN,NaN,Hank,Aaron,United States Mobile,Mobile,30.6783,-88.1162,United States
2,aaronto01,1939.0,United States,Mobile,1984.0,USA,Atlanta,Tommie,Aaron,United States Mobile,Mobile,30.6783,-88.1162,United States
3,aasedo01,1954.0,United States,Orange,NaN,NaN,NaN,Don,Aase,United States Orange,Orange,38.2486,-78.1127,United States
4,aasedo01,1954.0,United States,Orange,NaN,NaN,NaN,Don,Aase,United States Orange,Orange,30.1209,-93.7616,United States
5,aasedo01,1954.0,United States,Orange,NaN,NaN,NaN,Don,Aase,United States Orange,Orange,33.8038,-117.8219,United States
6,abadan01,1972.0,United States,Palm Beach,NaN,NaN,NaN,Andy,Abad,United States Palm Beach,Palm Beach,26.6852,-80.0403,United States
7,abadfe01,1985.0,Dominican Republic,La Romana,NaN,NaN,NaN,Fernando,Abad,Dominican Republic La Romana,La Romana,18.4170,-68.9666,Dominican Republic
8,abadijo01,1850.0,United States,Philadelphia,1905.0,USA,Pemberton,John,Abadie,United States Philadelphia,Philadelphia,40.0076,-75.1340,United States
9,abadijo01,1850.0,United States,Philadelphia,1905.0,USA,Pemberton,John,Abadie,United States Philadelphia,Philadelphia,32.7761,-89.1221,United States
10,abbated01,1877.0,United States,Latrobe,1957.0,USA,Fort Lauderdale,Ed,Abbaticchio,United States Latrobe,Latrobe,40.3125,-79.3825,United States
11,abbeybe01,1869.0,United States,Essex,1962.0,USA,Colchester,Bert,Abbey,United States Essex,NaN,NaN,NaN,NaN
12,abbeych01,1866.0,United States,Falls City,1926.0,USA,San Francisco,Charlie,Abbey,United States Falls City,NaN,NaN,NaN,NaN
13,abbotda01,1862.0,United States,Portage,1930.0,USA,Ottawa Lake,Dan,Abbott,United States Portage,Portage,43.5490,-89.4659,United States
14,abbotda01,1862.0,United States,Portage,1930.0,USA,Ottawa Lake,Dan,Abbott,United States Portage,Portage,40.3869,-78.6747,United States
15,abbotda01,1862.0,United States,Portage,1930.0,USA,Ottawa Lake,Dan,Abbott,United States Portage,Portage,41.5866,-87.1792,United States
16,abbotda01,1862.0,United States,Portage,1930.0,USA,Ottawa Lake,Dan,Abbott,United States Portage,Portage,42.2000,-85.5906,United States
17,abbotfr01,1874.0,United States,Versailles,1935.0,USA,Los Angeles,Fred,Abbott,United States Versailles,Versailles,38.0488,-84.7260,United States
18,abbotgl01,1951.0,United States,Little Rock,NaN,NaN,NaN,Glenn,Abbott,United States Little Rock,Little Rock,34.7255,-92.3581,United States
19,abbotje01,1972.0,United States,Atlanta,NaN,NaN,NaN,Jeff,Abbott,United States Atlanta,Atlanta,33.1136,-94.1672,United States
20,abbotje01,1972.0,United States,Atlanta,NaN,NaN,NaN,Jeff,Abbott,United States Atlanta,Atlanta,33.7626,-84.4228,United States
21,abbotji01,1967.0,United States,Flint,NaN,NaN,NaN,Jim,Abbott,United States Flint,Flint,43.0236,-83.6922,United States
22,abbotku01,1969.0,United States,Zanesville,NaN,NaN,NaN,Kurt,Abbott,United States Zanesville,Zanesville,39.9567,-82.0133,United States
23,abbotky01,1968.0,United States,Newburyport,NaN,NaN,NaN,Kyle,Abbott,United States Newburyport,Newburyport,42.8124,-70.8879,United States
24,abbotod01,1886.0,United States,New Eagle,1933.0,USA,Washington,Ody,Abbott,United States New Eagle,NaN,NaN,NaN,NaN
25,abbotpa01,1967.0,United States,Van Nuys,NaN,NaN,NaN,Paul,Abbott,United States Van Nuys,NaN,NaN,NaN,NaN
26,aberal01,1927.0,United States,Cleveland,1993.0,USA,Garfield Heights,Al,Aber,United States Cleveland,Cleveland,30.3368,-95.0924,United States
27,aberal01,1927.0,United States,Cleveland,1993.0,USA,Garfield Heights,Al,Aber,United States Cleveland,Cleveland,35.1817,-84.8707,United States
28,aberal01,1927.0,United States,Cleveland,1993.0,USA,Garfield Heights,Al,Aber,United States Cleveland,Cleveland,34.5971,-83.7622,United States
29,aberal01,1927.0,United States,Cleveland,1993.0,USA,Garfield Heights,Al,Aber,United States Cleveland,Cleveland,41.4767,-81.6805,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33867,zinteal01,1968.0,United States,El Paso,NaN,NaN,NaN,Alan,Zinter,United States El Paso,El Paso,31.8479,-106.4309,United States
33868,zipfebu01,1938.0,United States,Belleville,NaN,NaN,NaN,Bud,Zipfel,United States Belleville,Belleville,38.5165,-89.9899,United States
33869,ziskri01,1949.0,United States,Brooklyn,NaN,NaN,NaN,Richie,Zisk,United States Brooklyn,Brooklyn,40.6501,-73.9496,United States
33870,ziskri01,1949.0,United States,Brooklyn,NaN,NaN,NaN,Richie,Zisk,United States Brooklyn,Brooklyn,41.4349,-81.7498,United States
33871,zitoba01,1978.0,United States,Las Vegas,NaN,NaN,NaN,Barry,Zito,United States Las Vegas,Las Vegas,35.6011,-105.2206,United States
33872,zitoba01,1978.0,United States,Las Vegas,NaN,NaN,NaN,Barry,Zito,United States Las Vegas,Las Vegas,36.2291,-115.2607,United States
33873,zitzmbi01,1895.0,United States,Long Island City,1985.0,USA,Passaic,Billy,Zitzmann,United States Long Island City,NaN,NaN,NaN,NaN
33874,zmiched01,1884.0,United States,Cleveland,1950.0,USA,Cleveland,Ed,Zmich,United States Cleveland,Cleveland,30.3368,-95.0924,United States
33875,zmiched01,1884.0,United States,Cleveland,1950.0,USA,Cleveland,Ed,Zmich,United States Cleveland,Cleveland,35.1817,-84.8707,United States
33876,zmiched01,1884.0,United States,Cleveland,1950.0,USA,Cleveland,Ed,Zmich,United States Cleveland,Cleveland,34.5971,-83.7622,United States
33877,zmiched01,1884.0,United States,Cleveland,1950.0,USA,Cleveland,Ed,Zmich,United States Cleveland,Cleveland,41.4767,-81.6805,United States
33878,zmiched01,1884.0,United States,Cleveland,1950.0,USA,Cleveland,Ed,Zmich,United States Cleveland,Cleveland,33.7440,-90.7285,United States
33879,zobribe01,1981.0,United States,Eureka,NaN,NaN,NaN,Ben,Zobrist,United States Eureka,Eureka,40.7941,-124.1568,United States
33880,zobribe01,1981.0,United States,Eureka,NaN,NaN,NaN,Ben,Zobrist,United States Eureka,Eureka,40.7147,-89.2776,United States
33881,zobribe01,1981.0,United States,Eureka,NaN,NaN,NaN,Ben,Zobrist,United States Eureka,Eureka,38.5013,-90.6491,United States
33882,zoccope01,1977.0,United States,Bronx,NaN,NaN,NaN,Peter,Zoccolillo,United States Bronx,Bronx,40.8501,-73.8662,United States
33883,zoldasa01,1918.0,United States,Brooklyn,1966.0,USA,New Hyde Park,Sam,Zoldak,United States Brooklyn,Brooklyn,40.6501,-73.9496,United States
33884,zoldasa01,1918.0,United States,Brooklyn,1966.0,USA,New Hyde Park,Sam,Zoldak,United States Brooklyn,Brooklyn,41.4349,-81.7498,United States
33885,zoskyed01,1968.0,United States,Whittier,NaN,NaN,NaN,Eddie,Zosky,United States Whittier,Whittier,33.9678,-118.0188,United States
33886,zuberbi01,1913.0,United States,Middle Amana,1982.0,USA,Cedar Rapids,Bill,Zuber,United States Middle Amana,NaN,NaN,NaN,NaN
33887,zuberjo01,1969.0,United States,Encino,NaN,NaN,NaN,Jon,Zuber,United States Encino,NaN,NaN,NaN,NaN
33888,zuletju01,1975.0,Panama,Panama,NaN,NaN,NaN,Julio,Zuleta,Panama Panama,NaN,NaN,NaN,NaN
33889,zumayjo01,1984.0,United States,Chula Vista,NaN,NaN,NaN,Joel,Zumaya,United States Chula Vista,Chula Vista,32.6281,-117.0145,United States
33890,zuninmi01,1991.0,United States,Cape Coral,NaN,NaN,NaN,Mike,Zunino,United States Cape Coral,Cape Coral,26.6444,-81.9956,United States
33891,zupcibo01,1966.0,United States,Pittsburgh,NaN,NaN,NaN,Bob,Zupcic,United States Pittsburgh,Pittsburgh,40.4396,-79.9763,United States
33892,zupofr01,1939.0,United States,San Francisco,2005.0,USA,Burlingame,Frank,Zupo,United States San Francisco,San Francisco,37.7562,-122.4430,United States
33893,zuvelpa01,1958.0,United States,San Mateo,NaN,NaN,NaN,Paul,Zuvella,United States San Mateo,San Mateo,37.5522,-122.3122,United States
33894,zuverge01,1924.0,United States,Holland,2014.0,USA,Tempe,George,Zuverink,United States Holland,Holland,42.7677,-86.0984,United States
33895,zwilldu01,1888.0,United States,St. Louis,1978.0,USA,La Crescenta,Dutch,Zwilling,United States St. Louis,NaN,NaN,NaN,NaN
33896,zychto01,1990.0,United States,Monee,NaN,NaN,NaN,Tony,Zych,United States Monee,Monee,41.4172,-87.7504,United States

In [18]:
final3 = pd.merge(final,final2[['playerID','lat', 'lng']],on='playerID', how='left')

In [19]:
final3.latitude.fillna(final3.lat, inplace=True)
final3.longitude.fillna(final3.lng, inplace=True)

In [20]:
final3

,playerID,birthYear,birthCountry,birthCity,deathYear,deathCountry,deathCity,nameFirst,nameLast,Birthplace,geoname_id,continent_code,country_iso_code,country_name,city_name,registered_country_geoname_id,latitude,longitude,lat,lng
0,aardsda01,1981.0,United States,Denver,NaN,NaN,NaN,David,Aardsma,United States Denver,4463523.0,NaN,US,United States,Denver,6252001.0,35.4837,-80.9898,39.7621,-104.8759
1,aardsda01,1981.0,United States,Denver,NaN,NaN,NaN,David,Aardsma,United States Denver,4853799.0,NaN,US,United States,Denver,6252001.0,42.6731,-92.3417,39.7621,-104.8759
2,aardsda01,1981.0,United States,Denver,NaN,NaN,NaN,David,Aardsma,United States Denver,4919636.0,NaN,US,United States,Denver,NaN,39.7621,-104.8759,39.7621,-104.8759
3,aardsda01,1981.0,United States,Denver,NaN,NaN,NaN,David,Aardsma,United States Denver,5186794.0,NaN,US,United States,Denver,6252001.0,40.2297,-76.1157,39.7621,-104.8759
4,aardsda01,1981.0,United States,Denver,NaN,NaN,NaN,David,Aardsma,United States Denver,5419384.0,NaN,US,United States,Denver,6252001.0,39.5802,-104.9038,39.7621,-104.8759
5,aaronha01,1934.0,United States,Mobile,NaN,NaN,NaN,Hank,Aaron,United States Mobile,4076598.0,NaN,US,United States,Mobile,6252001.0,30.5928,-88.1946,30.6783,-88.1162
6,aaronto01,1939.0,United States,Mobile,1984.0,USA,Atlanta,Tommie,Aaron,United States Mobile,4076598.0,NaN,US,United States,Mobile,6252001.0,30.5928,-88.1946,30.6783,-88.1162
7,aasedo01,1954.0,United States,Orange,NaN,NaN,NaN,Don,Aase,United States Orange,4716805.0,NaN,US,United States,Orange,6252001.0,30.0709,-93.8659,38.2486,-78.1127
8,aasedo01,1954.0,United States,Orange,NaN,NaN,NaN,Don,Aase,United States Orange,4716805.0,NaN,US,United States,Orange,6252001.0,30.0709,-93.8659,30.1209,-93.7616
9,aasedo01,1954.0,United States,Orange,NaN,NaN,NaN,Don,Aase,United States Orange,4716805.0,NaN,US,United States,Orange,6252001.0,30.0709,-93.8659,33.8038,-117.8219
10,aasedo01,1954.0,United States,Orange,NaN,NaN,NaN,Don,Aase,United States Orange,4777454.0,NaN,US,United States,Orange,6252001.0,38.2192,-78.0461,38.2486,-78.1127
11,aasedo01,1954.0,United States,Orange,NaN,NaN,NaN,Don,Aase,United States Orange,4777454.0,NaN,US,United States,Orange,6252001.0,38.2192,-78.0461,30.1209,-93.7616
12,aasedo01,1954.0,United States,Orange,NaN,NaN,NaN,Don,Aase,United States Orange,4777454.0,NaN,US,United States,Orange,6252001.0,38.2192,-78.0461,33.8038,-117.8219
13,aasedo01,1954.0,United States,Orange,NaN,NaN,NaN,Don,Aase,United States Orange,4840104.0,NaN,US,United States,Orange,6252001.0,41.2815,-73.0287,38.2486,-78.1127
14,aasedo01,1954.0,United States,Orange,NaN,NaN,NaN,Don,Aase,United States Orange,4840104.0,NaN,US,United States,Orange,6252001.0,41.2815,-73.0287,30.1209,-93.7616
15,aasedo01,1954.0,United States,Orange,NaN,NaN,NaN,Don,Aase,United States Orange,4840104.0,NaN,US,United States,Orange,6252001.0,41.2815,-73.0287,33.8038,-117.8219
16,aasedo01,1954.0,United States,Orange,NaN,NaN,NaN,Don,Aase,United States Orange,4946383.0,NaN,US,United States,Orange,6252001.0,42.6129,-72.2924,38.2486,-78.1127
17,aasedo01,1954.0,United States,Orange,NaN,NaN,NaN,Don,Aase,United States Orange,4946383.0,NaN,US,United States,Orange,6252001.0,42.6129,-72.2924,30.1209,-93.7616
18,aasedo01,1954.0,United States,Orange,NaN,NaN,NaN,Don,Aase,United States Orange,4946383.0,NaN,US,United States,Orange,6252001.0,42.6129,-72.2924,33.8038,-117.8219
19,aasedo01,1954.0,United States,Orange,NaN,NaN,NaN,Don,Aase,United States Orange,5102213.0,NaN,US,United States,Orange,6252001.0,40.7747,-74.2274,38.2486,-78.1127
20,aasedo01,1954.0,United States,Orange,NaN,NaN,NaN,Don,Aase,United States Orange,5102213.0,NaN,US,United States,Orange,6252001.0,40.7747,-74.2274,30.1209,-93.7616
21,aasedo01,1954.0,United States,Orange,NaN,NaN,NaN,Don,Aase,United States Orange,5102213.0,NaN,US,United States,Orange,6252001.0,40.7747,-74.2274,33.8038,-117.8219
22,aasedo01,1954.0,United States,Orange,NaN,NaN,NaN,Don,Aase,United States Orange,5379513.0,NaN,US,United States,Orange,6252001.0,33.7854,-117.7948,38.2486,-78.1127
23,aasedo01,1954.0,United States,Orange,NaN,NaN,NaN,Don,Aase,United States Orange,5379513.0,NaN,US,United States,Orange,6252001.0,33.7854,-117.7948,30.1209,-93.7616
24,aasedo01,1954.0,United States,Orange,NaN,NaN,NaN,Don,Aase,United States Orange,5379513.0,NaN,US,United States,Orange,6252001.0,33.7854,-117.7948,33.8038,-117.8219
25,abadan01,1972.0,United States,Palm Beach,NaN,NaN,NaN,Andy,Abad,United States Palm Beach,4167505.0,NaN,US,United States,Palm Beach,6252001.0,26.7206,-80.0388,26.6852,-80.0403
26,abadfe01,1985.0,Dominican Republic,La Romana,NaN,NaN,NaN,Fernando,Abad,Dominican Republic La Romana,3500957.0,NaN,DO,Dominican Republic,La Romana,NaN,18.4170,-68.9666,18.4170,-68.9666
27,abadijo01,1850.0,United States,Philadelphia,1905.0,USA,Pemberton,John,Abadie,United States Philadelphia,4403125.0,NaN,US,United States,Philadelphia,NaN,40.0076,-75.1340,40.0076,-75.1340
28,abadijo01,1850.0,United States,Philadelphia,1905.0,USA,Pemberton,John,Abadie,United States Philadelphia,4403125.0,NaN,US,United States,Philadelphia,NaN,32.7761,-89.1221,32.7761,-89.1221
29,abadijo01,1850.0,United States,Philadelphia,1905.0,USA,Pemberton,John,Abadie,United States Philadelphia,4440906.0,NaN,US,United States,Philadelphia,6252001.0,32.7572,-89.1154,40.0076,-75.1340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252128,zoldasa01,1918.0,United States,Brooklyn,1966.0,USA,New Hyde Park,Sam,Zoldak,United States Brooklyn,4987064.0,NaN,US,United States,Brooklyn,6252001.0,42.1044,-84.2414,41.4349,-81.7498
252129,zoldasa01,1918.0,United States,Brooklyn,1966.0,USA,New Hyde Park,Sam,Zoldak,United States Brooklyn,5110302.0,NaN,US,United States,Brooklyn,6252001.0,40.5795,-73.9889,40.6501,-73.9496
252130,zoldasa01,1918.0,United States,Brooklyn,1966.0,USA,New Hyde Park,Sam,Zoldak,United States Brooklyn,5110302.0,NaN,US,United States,Brooklyn,6252001.0,40.5795,-73.9889,41.4349,-81.7498
252131,zoldasa01,1918.0,United States,Brooklyn,1966.0,USA,New Hyde Park,Sam,Zoldak,United States Brooklyn,5246849.0,NaN,US,United States,Brooklyn,6252001.0,42.8423,-89.3818,40.6501,-73.9496
252132,zoldasa01,1918.0,United States,Brooklyn,1966.0,USA,New Hyde Park,Sam,Zoldak,United States Brooklyn,5246849.0,NaN,US,United States,Brooklyn,6252001.0,42.8423,-89.3818,41.4349,-81.7498
252133,zoldasa01,1918.0,United States,Brooklyn,1966.0,USA,New Hyde Park,Sam,Zoldak,United States Brooklyn,5282922.0,NaN,US,United States,Brooklyn,6252001.0,41.7807,-71.9541,40.6501,-73.9496
252134,zoldasa01,1918.0,United States,Brooklyn,1966.0,USA,New Hyde Park,Sam,Zoldak,United States Brooklyn,5282922.0,NaN,US,United States,Brooklyn,6252001.0,41.7807,-71.9541,41.4349,-81.7498
252135,zoskyed01,1968.0,United States,Whittier,NaN,NaN,NaN,Eddie,Zosky,United States Whittier,4498964.0,NaN,US,United States,Whittier,6252001.0,35.4469,-83.2872,33.9678,-118.0188
252136,zoskyed01,1968.0,United States,Whittier,NaN,NaN,NaN,Eddie,Zosky,United States Whittier,5409059.0,NaN,US,United States,Whittier,6252001.0,33.9263,-118.0034,33.9678,-118.0188
252137,zoskyed01,1968.0,United States,Whittier,NaN,NaN,NaN,Eddie,Zosky,United States Whittier,5878018.0,NaN,US,United States,Whittier,6252001.0,60.7734,-148.6839,33.9678,-118.0188
252138,zuberbi01,1913.0,United States,Middle Amana,1982.0,USA,Cedar Rapids,Bill,Zuber,United States Middle Amana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252139,zuberjo01,1969.0,United States,Encino,NaN,NaN,NaN,Jon,Zuber,United States Encino,5346649.0,NaN,US,United States,Encino,6252001.0,34.1569,-118.4880,NaN,NaN
252140,zuberjo01,1969.0,United States,Encino,NaN,NaN,NaN,Jon,Zuber,United States Encino,5466839.0,NaN,US,United States,Encino,6252001.0,34.6512,-105.4617,NaN,NaN
252141,zuletju01,1975.0,Panama,Panama,NaN,NaN,NaN,Julio,Zuleta,Panama Panama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252142,zumayjo01,1984.0,United States,Chula Vista,NaN,NaN,NaN,Joel,Zumaya,United States Chula Vista,5336899.0,NaN,US,United States,Chula Vista,6252001.0,32.6065,-117.0580,32.6281,-117.0145
252143,zuninmi01,1991.0,United States,Cape Coral,NaN,NaN,NaN,Mike,Zunino,United States Cape Coral,4149962.0,NaN,US,United States,Cape Coral,6252001.0,26.5559,-82.0214,26.6444,-81.9956
252144,zupcibo01,1966.0,United States,Pittsburgh,NaN,NaN,NaN,Bob,Zupcic,United States Pittsburgh,5206379.0,NaN,US,United States,Pittsburgh,6252001.0,40.3323,-80.0810,40.4396,-79.9763
252145,zupofr01,1939.0,United States,San Francisco,2005.0,USA,Burlingame,Frank,Zupo,United States San Francisco,5391959.0,NaN,US,United States,San Francisco,6252001.0,37.6811,-122.4806,37.7562,-122.4430
252146,zuvelpa01,1958.0,United States,San Mateo,NaN,NaN,NaN,Paul,Zuvella,United States San Mateo,4171821.0,NaN,US,United States,San Mateo,6252001.0,29.5888,-81.5921,37.5522,-122.3122
252147,zuvelpa01,1958.0,United States,San Mateo,NaN,NaN,NaN,Paul,Zuvella,United States San Mateo,5392423.0,NaN,US,United States,San Mateo,6252001.0,37.5428,-122.2971,37.5522,-122.3122
252148,zuverge01,1924.0,United States,Holland,2014.0,USA,Tempe,George,Zuverink,United States Holland,4259023.0,NaN,US,United States,Holland,6252001.0,38.2456,-87.0361,42.7677,-86.0984
252149,zuverge01,1924.0,United States,Holland,2014.0,USA,Tempe,George,Zuverink,United States Holland,4698254.0,NaN,US,United States,Holland,6252001.0,30.8800,-97.3857,42.7677,-86.0984
252150,zuverge01,1924.0,United States,Holland,2014.0,USA,Tempe,George,Zuverink,United States Holland,4860853.0,NaN,US,United States,Holland,6252001.0,42.4011,-92.7999,42.7677,-86.0984
252151,zuverge01,1924.0,United States,Holland,2014.0,USA,Tempe,George,Zuverink,United States Holland,4996248.0,NaN,US,United States,Holland,6252001.0,42.7686,-86.1170,42.7677,-86.0984
252152,zuverge01,1924.0,United States,Holland,2014.0,USA,Tempe,George,Zuverink,United States Holland,5030404.0,NaN,US,United States,Holland,NaN,42.7677,-86.0984,42.7677,-86.0984
252153,zuverge01,1924.0,United States,Holland,2014.0,USA,Tempe,George,Zuverink,United States Holland,5099175.0,NaN,US,United States,Holland,6252001.0,40.5929,-75.1025,42.7677,-86.0984
252154,zuverge01,1924.0,United States,Holland,2014.0,USA,Tempe,George,Zuverink,United States Holland,5121004.0,NaN,US,United States,Holland,NaN,42.7677,-86.0984,42.7677,-86.0984
252155,zuverge01,1924.0,United States,Holland,2014.0,USA,Tempe,George,Zuverink,United States Holland,5157759.0,NaN,US,United States,Holland,6252001.0,41.6226,-83.7257,42.7677,-86.0984
252156,zwilldu01,1888.0,United States,St. Louis,1978.0,USA,La Crescenta,Dutch,Zwilling,United States St. Louis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252157,zychto01,1990.0,United States,Monee,NaN,NaN,NaN,Tony,Zych,United States Monee,4902498.0,NaN,US,United States,Monee,6252001.0,41.4191,-87.7748,41.4172,-87.7504

In [21]:
final3 = final3.dropna(subset=['latitude'])

In [22]:
final3= final3.drop_duplicates(subset=['playerID'], keep='first')

In [38]:
final4 = pd.merge(final3,flags[['birthCountry','flags']],on='birthCountry', how='left')

In [26]:
# Czech Republic, Hong Kong, Denmark, Switzerland, Audtria, China, Belize, Indonesia, Finland, Slovakia, American Samoa, POrtugal, Honduras, Latvia

In [40]:
final4= final4.drop_duplicates(subset=['playerID'], keep='first')

In [43]:
finalfinal.birthYear

1981.0

In [41]:
final4.to_csv("final.csv")