In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("fulldata.csv")
cities = pd.read_csv("GeoLiteCities.csv")
locations = pd.read_csv("GeoLitLocations.csv")

In [3]:
data = data.drop(columns = ['birthMonth', 'birthDay',
       'birthState', 'deathMonth', 'deathDay',
       'deathState',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID', 'Position', 'HoF'])

In [4]:
namer={"USA": "United States", "D.R.": "Domincan Republic", 'CAN': "Canada", "P.R.": "Puerto Rico", "V.I.": "U.S. Virgin Islands"}

In [5]:
data = data.replace({"birthCountry": namer})

In [6]:
data = data.dropna(subset=['birthCountry'])
data = data.dropna(subset=['birthCity'])

In [7]:
cities = cities.drop(columns=['network', 'represented_country_geoname_id', 'is_anonymous_proxy',
       'is_satellite_provider', 'postal_code', 'accuracy_radius'])

In [8]:
locations = locations.drop(columns=['locale_code', 'continent_name', 'subdivision_1_iso_code',
       'subdivision_1_name', 'subdivision_2_iso_code', 'subdivision_2_name',
       'time_zone', 'is_in_european_union', 'metro_code'])

In [9]:
locator = locations.merge(cities, on = "geoname_id", how = "right")

In [10]:
locator = locator.drop_duplicates(subset=['geoname_id'], keep='first')

In [11]:
data['Birthplace'] = data['birthCountry'] + " " + data['birthCity']

In [12]:
locator['Birthplace'] = locator['country_name'] + " " + locator['city_name']

In [13]:
final = data.merge(locator, on='Birthplace', how='left')

In [31]:
final.iloc[46767, final.columns.get_loc('latitude')] = 46.0994
final.iloc[46767, final.columns.get_loc('longitude')] = 37.02617

# Add Gift Ngoepe, Vietnam, Tupa, Russians, PHillipines

In [32]:
final.loc[final.playerID == "porraed01"]

,playerID,birthYear,birthCountry,birthCity,deathYear,deathCountry,deathCity,nameFirst,nameLast,Birthplace,geoname_id,continent_code,country_iso_code,country_name,city_name,registered_country_geoname_id,latitude,longitude,16,17
46767,porraed01,1888.0,At Sea,Atlantic Ocean,1954.0,USA,Lackawaxen,Ed,Porray,At Sea Atlantic Ocean,NaN,NaN,NaN,NaN,NaN,NaN,46.0994,37.02617,NaN,NaN

In [23]:
final.loc[final.index == 46766]

,playerID,birthYear,birthCountry,birthCity,deathYear,deathCountry,deathCity,nameFirst,nameLast,Birthplace,geoname_id,continent_code,country_iso_code,country_name,city_name,registered_country_geoname_id,latitude,longitude,16,17
46766,poredaa01,1986.0,United States,Walnut Creek,NaN,NaN,NaN,Aaron,Poreda,United States Walnut Creek,5406990.0,NaN,US,United States,Walnut Creek,6252001.0,37.8753,-122.0703,NaN,NaN

In [ ]:
final = final.dropna(subset=['latitude'])

In [ ]:
final

In [ ]:
final= final.drop_duplicates(subset=['playerID'], keep='first')
final

In [ ]:
final.to_csv("final.csv")