In [3]:
import pandas as pd

In [4]:
appear = pd.read_csv("Appearances.csv")
hof = pd.read_csv("HallOfFame.csv")
people = pd.read_csv("People.csv")

In [5]:
hof = hof.drop(columns=['yearID', 'votedBy', 'ballots', 'needed', 'votes', 'category', 'needed_note'])

In [6]:
hof = hof.drop_duplicates(subset='playerID')
hof = hof.sort_values('playerID', ascending=False)

In [7]:
hof = hof.set_index('playerID')

In [8]:
appear = appear.groupby(["playerID"]).sum()

In [9]:
appear = appear.drop(columns=['yearID', 'G_all', 'GS', 'G_batting', 'G_defense', 'G_ph', 'G_pr', 'G_of'])
appear = appear.rename(index=str, columns={'G_p': 'P','G_c': 'C', 'G_1b': '1B', 'G_2b': '2B', 'G_3b': '3B', 'G_ss': 'SS', 'G_lf': 'LF', 'G_cf': 'LF', 'G_rf': 'RF', 'G_dh': 'DH'})

In [10]:
appear['Position'] = appear.idxmax(axis=1)

In [11]:
appear = appear.drop(columns=['P', 'C', '1B', '2B', '3B', 'SS', 'LF', 'LF', 'RF', 'DH'])

In [12]:
people = people.set_index('playerID')

In [13]:
full = people.join(appear)

In [14]:
full = full.join(hof)

In [15]:
full['inducted'] = full['inducted'].fillna(value='N')

In [18]:
full = full.rename(index=str, columns={'inducted': 'HoF'})
full.head()

,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,deathCountry,...,weight,height,bats,throws,debut,finalGame,retroID,bbrefID,Position,HoF
playerID,,,,,,,,,,,,,,,,,,,,,
aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,NaN,...,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,P,N
aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,NaN,...,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01,RF,Y
aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,USA,...,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01,1B,N
aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,NaN,...,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01,P,N
abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,NaN,...,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01,1B,N

In [19]:
len(full['birthCountry'].unique().tolist())

57

In [21]:
full['birthCountry'].unique().tolist()

['USA',
 'D.R.',
 'Venezuela',
 'Cuba',
 'Mexico',
 'Panama',
 'CAN',
 'P.R.',
 'Russia',
 'Curacao',
 'Colombia',
 'Nicaragua',
 'Germany',
 'Norway',
 'Japan',
 'Ireland',
 'Italy',
 'Bahamas',
 'United Kingdom',
 'South Korea',
 'Australia',
 'Czech Republic',
 'V.I.',
 'Netherlands',
 'France',
 'Aruba',
 nan,
 'Sweden',
 'Hong Kong',
 'Afghanistan',
 'Spain',
 'Greece',
 'Taiwan',
 'Philippines',
 'Jamaica',
 'Poland',
 'Brazil',
 'Viet Nam',
 'Guam',
 'Denmark',
 'Switzerland',
 'Austria',
 'Singapore',
 'China',
 'Belgium',
 'Belize',
 'Indonesia',
 'Finland',
 'Lithuania',
 'South Africa',
 'At Sea',
 'Slovakia',
 'American Samoa',
 'Saudi Arabia',
 'Portugal',
 'Honduras',
 'Latvia']

In [20]:
len(full['deathCountry'].unique().tolist())

26

In [23]:
full['deathCountry'].unique().tolist()

[nan,
 'USA',
 'Cuba',
 'Mexico',
 'D.R.',
 'P.R.',
 'Austria',
 'Venezuela',
 'CAN',
 'France',
 'Panama',
 'Bahamas',
 'Taiwan',
 'United Kingdom',
 'Philippines',
 'Netherlands',
 'At Sea',
 'Japan',
 'Australia',
 'North Korea',
 'V.I.',
 'Ireland',
 'American Samoa',
 'San Marino',
 'Costa Rica',
 'China']

In [16]:
full.to_csv("fulldata.csv")